<div>
  <!-- 
    Agregar imagen de perfil
    <img src="/assets/profile-pic.webp" alt="Profile picture" />
  -->
  <p>
    Hola soy <strong>Gonzalo</strong>. Estudio ingenieria informática y me gusta
    la programación en general. Puedes ver mis proyectos en <a
      href="https://www.github.com/gonzalo-e-sosa"
      target="_blank">GitHub</a
    >.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
